{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="heading">
    <h1>Sharing Made Easy</h1>
  </div>
  <div class="row description">
    <p>Jane moves into a new apartment building but doesn't have all
      the appliances/household items she needs.  She logs into this
      app to find out who in her apartment building has a vacuum for
      her to borrow. She joins the ‘group’ for her apartment building
      and finds that one of her new neighbors has one listed that is
      available to borrow. She submits a borrow request, and a time frame
      that works for them both. Jane borrows the vacuum, returns it shortly
      after, and everyone is happy! A few weeks later, she lists her power
      drill as available for anyone in her complex to borrow. </p>
  </div>
  
</div>
      <h2>My Share-able Items</h2>
      {% for item in items %}
      <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card transform-on-hover">
                <a class="lightbox">
                <img src="{{ item.image_path }}" alt="Card Image" class="card-img-top">
                </a>
          <div class="card-body">
            <h2 class="card-title"><a href="#">{{ item.item_name }}</a></h2>
            <p class="text-muted card-text">Belongs to: {{ user_on_page }} <br>Availability: {{ item.avail_time }} <br>Suggested Borrowing Timeframe: {{ item.borrow_time }}</p>
          </div>
        </div>
      </div>
      {% endfor %}




      <!--<form action="." method="POST">
        {% csrf_token %}
          {{ form.as_p }}
        <button>Add Item</button>
      </form>-->
      <div class="sharable-items-form">

      </div>


      <div class="container form-container">
        <div class="col-md-5">
            <div class="form-area">
                <form role="form" action="." method="POST">
                  {% csrf_token %}
                <h1 style="margin-bottom: 25px; text-align: center;">Upload an Item!</h1>
            <div class="form-group">
                <input type="text" class="form-control" id="name" name="item name" placeholder="Item Name" required>
            </div>
            <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Item Description" maxlength="140" rows="7"></textarea>
                <span class="help-block"><p id="characterLeft" class="help-block "></p></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="availability" name="availability" placeholder="Availability" required>
            </div>
                <div class="controls">
                    <button class="btn" type="button" id="submit-picture" name="submit" class="btn btn-primary pull-right">Upload Picture</button>
                    <button class="btn" type="button" id="submit-item" name="submit" class="btn btn-primary pull-right">Upload Item</button>
                </div>
              </form>
            </div>

      </div>


    </div>
  </div>
  
{% endblock content %}
