{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row headline">
    <h1>Sharing Made Easy.<h1>
  </div>
  <div class="row description">
    <ol>
      <li>What was the idea behind neighborrow and when was it founded?<br>

      I was doing an interview for the New York Times recently (where the reporter used many of my sources but none of my quotes and blamed her editor for cutting me out of the article entirely) and it reminded me that neighborrow was “founded” about 10 years ago. I think we bought the domain name around Thanksgiving in 2005. The idea was a sharing platform for household items.</li>

      <li>Which experiences did you or one of the other founders have with regard to establishing a company? Do you mean formally establishing a company or general experiences starting a startup?<br>

     Which were the main challenges so far? Now that we are looking through a different lens, we can easily say that the biggest challenge is growing the number of genuine requests for items over 25 dollars and under 500 dollars -- in the beginning though we blamed the usual suspects… difficulties getting funding, difficulty finding a technical co founders, designers who hard coded text as an image and wanted to charge every time we wanted to change language. I realize now that those were all symptoms they were not the disease.</li> 

      <li>What is neighborrow’s core business? (Sell, buy, rent?)<br>

      It started as borrowing. Now it’s TBD. The embarrassing thing is that now almost everytihng I stand for is about leanstartup and pivoting when necessary based on evidence. Not being open to change based on nothing more than a domain name is probably the worst offense in startup history.</li>

      <li>How do you generate value for the user?<br>

      The hypothesis for the user (the borrower) is that we are solving a problem of getting an item they need fast, and only having to pay for the portion that they use it. The dis proven hypothesis for the lender is that we were saving space for them and maybe creating a potential credit for them next time they needed something.</li>

      <li>How much competition does exist and who are you competing with?<br>

      There are lots of people still trying to solve this problem. We are not competing with any of them. It’s easy for me to say this now that I am not counting on this as my day job, but I felt this way from the beginning. That's why I started a group called SharedSquared. If people in this industry cannot share lessons learned then no one can! My favorite company in the space right now is Peerby.com - they are like our cool younger cousin from Amsterdam.</li>

      <li>How does neighborrow differentiate itself from its competitors?<br>

      One of the quotes I now use in my enterprise innovation consulting is “The ability to learn faster than your competitors may be the only sustainable competitive advantage." (ARIE DE GUES) So at this point that's my only answer. 10 years ago I would have said something annoying like “Our proprietary algorithm” or “first mover advantage”. 

      <li>How many users to you have at the moment?<br>

      We don’t track total users. We count incoming requests per day - which has remained steady at around 3. I reported the same metric to a different reporter from the same paper mentioned above. She didn’t cut us out of the article but she did report that we “closed our doors” because it fit her MO for the story - even though we told her we were still experimenting with new models and all we had done was stopped looking for funding and stopped treating it as a full time job. It was pretty awesome though when her boss made her write a retraction. 

      <li>Where are they mainly located?<br>

      Users are located around the world.</li>

      <li>What would you say are the main reasons why people join neighborrow?<br>

      No one really “joins” anymore. People either need something and they ask for it - or they express interest in starting a local chapter. Which we still allow on a case by case basis - we even give them free shit to lend out to their neighborhood.</li>

      <li>In your opinion, what is necessary for a company to be and also to stay successful in the sharing economy?<br>

      Depends on your own definition of successful. But one thing that is a must is solving an actual problem that people really have.</li>

    <p>Jane moves into a new apartment building but doesn't have all
      the appliances/household items she needs.  She logs into this
      app to find out who in her apartment building has a vacuum for
      her to borrow. She joins the ‘group’ for her apartment building
      and finds that one of her new neighbors has one listed that is
      available to borrow. She submits a borrow request, and a time frame
      that works for them both. Jane borrows the vacuum, returns it shortly
      after, and everyone is happy! A few weeks later, she lists her power
      drill as available for anyone in her complex to borrow. </p>
  </div>
  <div class="row diagram">
    <div class="col diagram-col">
      <!-- Signup -->
      <div class="row step-one">
        <div class="col col-pic">
          <i class="fa fa-mobile" aria-hidden="true"></i>
        </div>
        <div class="col col-blurb">
          <h2>Signup</h2>
        </div>
      </div>
      <!-- Post stuff -->
      <div class="row step-two">
        <div class="col col-pic">
          <i class="fa fa-plus"></i>
        </div>
        <div class="col col-blurb">
          <h2>Post your stuff</h2>
        </div>
      </div>
      <!-- Browse -->
      <div class="row step-three">
        <div class="col col-pic">
          <i class="fa fa-shopping-basket"></i>
        </div>
        <div class="col col-blurb">
          <h2>Browse inventory</h2>
        </div>
      </div>
      <!-- Share and return -->
      <div class="row step-four">
        <div class="col col-pic">
          <i class="fa fa-share"></i>
        </div>
        <div class="col col-blurb">
          <h2>Share and Return</h2>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
