{% extends "base.html" %}

{% block content %}
<div class="browsingpage-background-image">
  <div class="container">
    <div class="heading">
      <h1 style="padding-top: 20px;font-weight: bold; ">Shared Stuff</h1>
    </div>



<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/send-email/" method="POST">
            <input name="name" placeholder="Name">
            <input name="email" type="email" placeholder="Email">
            <textarea name="message">
            </textarea>
            {% csrf_token %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>



    <div class="row">
      {% for item in items %}
      <div class="col-md-6 col-lg-4">
        <div class="card transform-on-hover">
          <a class="lightbox">
            <img src="{{ item.image_src }}" alt="Card Image" class="card-img-top">
          </a>
          <div class="card-body">
            <h2 class="card-title"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basketball_modal" href="#">{{ item.item_name }}</button></h2>
            <p class="text-muted card-text">Belongs to: {{ item.owner }}. <br>Availability: {{ item.availability }}. <br>Suggested Borrowing Timeframe: {{ item.suggested_borrowing_timeframe }}.</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
