{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="heading">
      <h2>Shared Inventory</h2>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/basketball.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Basketball</a></h6>
                    <p class="text-muted card-text">Belongs to: Liam. <br>Availability: Any time. <br>Suggested Borrowing Timeframe: Half day.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
      <a class="lightbox">
                <img src="/static/images/moka_pot.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Moka Pot</a></h6>
                    <p class="text-muted card-text">Belongs to: Maddy. <br>Availability: Weekends. <br>Suggested Borrowing Timeframe: Hourly.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/gloves.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Gardening Gloves</a></h6>
                    <p class="text-muted card-text">Belongs to: Tyler. <br>Availability: Any time. <br>Suggested Borrowing Timeframe: Daily.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/power_tool.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Cordless Power Drill</a></h6>
                    <p class="text-muted card-text">Belongs to: Maddy. <br>Availability: Weekdays. <br>Suggested Borrowing Timeframe: 3-5 Days.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/wok.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Cast Iron Wok</a></h6>
                    <p class="text-muted card-text">Belongs to: Liam. <br>Additional Info: 16-inch with loop handles <br>Availability: Mon. Wed. Fri.<br>Suggested Borrowing Timeframe: Daily.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/ukulele.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Ukulele</a></h6>
                    <p class="text-muted card-text">Belongs to: Tucker. <br>Availability: Weekends. <br>Suggested Borrowing Timeframe: Daily.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/barbecue2.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Barbecue</a></h6>
                    <p class="text-muted card-text">Belongs to: Tyler. <br>Additional Info: Please remember to clean it when you're done. <br>Availability: Nights and Weekends. <br>Suggested Borrowing Timeframe: Daily.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/heart_bowls.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Set of Heart Shaped Bowls</a></h6>
                    <p class="text-muted card-text">Belongs to: Tucker. <br>Availability: Any time. <br>Suggested Borrowing Timeframe: A few days.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 transform-on-hover">
              <a class="lightbox">
                <img src="/static/images/spice_rack.jpg" alt="Card Image" class="card-img-top">
              </a>
                <div class="card-body">
                    <h6><a href="#">Spice Rack</a></h6>
                    <p class="text-muted card-text">Belongs to: Liam. <br>Additional Info: Feel free to come use some cooking spices if you see something you need! <br>Availability: Any time. <br>Suggested Borrowing Timeframe: None.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
