{% extends "base.html" %}

{% block content %}
<div class="browsingpage-background-image" style="padding-bottom: 600px;">
  <div class="container">
    <div>
      <h1 class="heading">Shared Stuff</h1>
    </div>
    <div class="row">
    {% for item in items %}
        <div class="col-md-6 col-lg-4">
            <div class="card transform-on-hover">
                <a class="lightbox">
                    <img src="#{{ item.image_src }}" alt="Card Image" class="card-img-top">
                </a>
            <div class="card-body">

    <!-- Modal Start -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        {{ item.item_name }}
    </button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrow this item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/send-email/" method="POST">
                <input name="name" placeholder="Name">
                <input name="email" type="email" placeholder="Email">
                <textarea name="message">
                </textarea>
                {% csrf_token %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send email</button>
              </div>
                </form>
            </div>
        </div>
    </div>
<!-- End Modal -->

            <p class="text-muted card-text">Belongs to: {{ item.username }}. <br>Availability: {{ item.avail_time }}. <br>Suggested Borrowing Timeframe: {{ item.borrow_time }}.</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
