{% extends "base-index.html" %}

{% block content %}

<!-- <div class="container"> -->

<div class="jumbotron">
  <img src="../../static/images/Divvy_Logo_Picture.jpeg" alt="divvy logo" height="75" width="75">
  <h1 class="display-4" style="font-weight: bold;">Divvy</h1>
  <p class="lead">A better way to borrow between friends.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-lg signup" href="/accounts/signup/" role="button">Sign Up</a>&nbsp
    <a id="signin" class="btn btn-lg signin" href="/accounts/login/" role="button">Sign In</a>
  </p>
  <br>
</div>
<br><br>
<div class="container diagram">
  <div class="row">
    <div class="col">
      <h2 class="subheading">How it Works:</h2>
    </div>
  </div>
  <br>
<div class="row">
<!-- Signup -->
  <div class="col col-pic">
    <div class="col diagram-step" style="text-align: center;">
      <i class="fa fa-mobile"></i>
      <h2>Sign up</h2>
    </div>
  </div>

  <div class="col col-pic">
    <div class="arrow" style="text-align: center;">
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
<!-- Post -->
  <div class="col col-pic">
    <div class="diagram-step" style="text-align: center;">
      <i class="fa fa-plus"></i>
      <h2>Post your stuff</h2>
    </div>
  </div>

  <div class="col col-pic">
    <div class="arrow" style="text-align: center;">
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
<!-- Browse -->
  <div class="col col-pic">
    <div class="diagram-step" style="text-align: center;">
      <i class="fa fa-shopping-basket"></i>
      <h2>Browse their stuff</h2>
    </div>
  </div>

  <div class="col col-pic">
    <div class="arrow" style="text-align: center;">
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
<!-- Share -->
  <div class="col col-pic">
    <div class="diagram-step" style="text-align: center;">
      <i class="fa fa-share"></i>
      <h2>Share and Return</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Quickly coordinate lending amongst neighbors and friends!
      Whether it's an umbrella and folding chairs for a beach trip or a lawnmower for a day of yardwork, Divvy is the easiest way to facilitate borrowing between friends.<p>
  </div>
</div>
<!-- </div> -->
{% endblock content %}
