{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="heading">
    <h1>Sharing Made Easy</h1>
  </div>
</div>
<h2>My Share-able Items</h2>
{% for item in items %}
<div class="row">
  <div class="col-md-6 col-lg-4">
    <div class="card transform-on-hover">
        <a class="lightbox">
        <img src="{{ item.image_path }}" alt="Card Image" class="card-img-top">
        </a>
      <div class="card-body">
        <h2 class="card-title"><a href="#">{{ item.item_name }}</a></h2>
        <p class="text-muted card-text">Belongs to: {{ item.username }} <br>Availability: {{ item.avail_time }} <br>Suggested Borrowing Timeframe: {{ item.borrow_time }}</p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<div class="sharable-items-form">

</div>

<div class="container form-container">
  <div class="col-md-5">
    <div class="form-area">
      <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Add Item</button>
      </form>

{% endblock content %}
