{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block inner %}
<div class="sign-up-page-background-image">
  <h1 style="text-align: center; margin-top: 20px; font-weight: bold;">{% trans "Sign Up" %}</h1>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"> &nbspsign in</a>.{% endblocktrans %}</p>

  <div class="form-container">
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
        <div class="email">
          {{ form.email }}
        </div>
        <br>
        <div class="username">
          {{ form.username }}
        </div>
        <br>
        <div class="password1">
          {{ form.password1 }}
        </div>
        <br>
        <div class="password2">
          {{ form.password2 }}
        </div>
        <br>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
</div>


{% endblock %}
